<!doctype html>
<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'navigation.twig' %}
    <div class="container">
        <h1>This is the community page!</h1>
    </div>
    {% include 'footer.twig' %}
</body>
</html>