<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    {# Left #}
    <a class="navbar-brand" href="/index.php">Board Games</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainContent" aria-controls="navbarMainContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {# Main Content #}
    <div class="collapse navbar-collapse" id="navbarMainContent">
      {# Middle #}
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 fs-5">
        <li class="nav-item pe-2">
          <a class="nav-link {% if current_page == 'home' %}active{% endif %}" href="/index.php">Home</a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link {% if current_page == 'games' %}active{% endif %}" href="/games.php">Games</a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link {% if current_page == 'reviews' %}active{% endif %}" href="/reviews.php">Reviews</a>
        </li>
        {% if loggedin %}
        <li class="nav-item pe-2">
          <a class="nav-link {% if current_page == 'community' %}active{% endif %}" href="/community.php">Community</a>
        </li>
        {% endif %}
        <li class="nav-item pe-2">
          <a class="nav-link {% if current_page == 'blog' %}active{% endif %}" href="/blog.php">Blog</a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link {% if current_page == 'contact' %}active{% endif %}" href="/contact.php">Contact</a>
        </li>
      </ul>

      {# Right #}
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-2">
          <form class="d-flex" action="/search.php" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search games..." aria-label="Search" name="q">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </li>
        {% if is_admin %}
        <li class="nav-item me-2">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-shield-halved"></i> Admin
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="/users.php">User Management</a></li>
              <li><a class="dropdown-item" href="/content_management.php">Content Management</a></li>
              <li><a class="dropdown-item" href="/feedback.php">Feedback Management</a></li>
            </ul>
          </div>
        </li>
        {% endif %}
        <li class="nav-item me-2">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              {% if loggedin == false %}
                <li><a class="dropdown-item" href="/signup.php">Sign Up</a></li>
                <li><a class="dropdown-item" href="/login.php">Login</a></li>
              {% else %}
                <li><a class="dropdown-item" href="/profile.php">Profile</a></li>
                <li><a class="dropdown-item" href="/favourites.php">Favourites</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout.php">Logout</a></li>
              {% endif %}
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favourites.php">
            <i class="fa-solid fa-heart"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    position: relative;
    padding: 0.5rem 1rem;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--bs-primary);
}

.dropdown-menu {
    min-width: 200px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        padding: 1rem 0;
    }
    
    .navbar-nav {
        margin: 0.5rem 0;
    }
    
    .nav-item {
        margin: 0.5rem 0;
    }
    
    .d-flex {
        margin: 0.5rem 0;
    }
}
</style> 